<!-- ============================================================= MAIN ============================================================= -->

  <main>

    <!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

    <section id="portfolio">
      <div class="container inner">
        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
              <h1><%= @title %></h1>
              <p><%= @subtitle %></p>
            </header>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->

      <div class="container inner-bottom">
        <div class="row">
          <div class="col-sm-12 portfolio">
            <%= render 'spots/spots_search' %>
            <ul class="filter text-center">
              <li><a href="#" data-filter="*" class="active">All</a></li>
              <li><a href="#" data-filter=".reserved">Reserved</a></li>
              <li><a href="#" data-filter=".available">Available</a></li>
              <li><a href="#" data-filter=".photography">Sports</a></li>
              <li><a href="#" data-filter=".print">Other</a></li>
              <li><%= render 'spots/sort' %></li>
            </ul><!-- /.filter -->

            <ul class="items col-3 gap">
