	<!-- ============================================================= MAIN ============================================================= -->

		<main>

			<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

			<section id="portfolio">
				<div class="container inner">
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Your Car Needs A Home</h1>
								<p>Browse available parking spots below!</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->


				<div class="container inner-bottom">
					<div class="row">
						<div class="col-sm-12 portfolio">

							<ul class="filter text-center">
								<li><a href="#" data-filter="*" class="active">All</a></li>
								<li><a href="#" data-filter=".identity">Reserved</a></li>
								<li><a href="#" data-filter=".interactive">Garage</a></li>
								<li><a href="#" data-filter=".photography">Sports</a></li>
								<li><a href="#" data-filter=".print">Other</a></li>
							</ul><!-- /.filter -->

							<ul class="items col-3 gap">

								<%= render @spots %>

							</ul><!-- /.items -->

						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->

		</main>

		<!-- ============================================================= MAIN : END ============================================================= -->
