	<!-- ============================================================= MAIN ============================================================= -->

		<main>

			<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

			<section id="portfolio">

				<div class="container inner">
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Your Car Needs A Home</h1>
								<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->

				<div class="container inner-bottom">
					<div class="row">
						<div class="col-sm-12 portfolio">

							<ul class="filter text-center">
								<li><a href="#" data-filter="*" class="active">All</a></li>
								<li><a href="#" data-filter=".identity">Identity</a></li>
								<li><a href="#" data-filter=".interactive">Interactive</a></li>
								<li><a href="#" data-filter=".print">Print</a></li>
								<li><a href="#" data-filter=".photography">Photography</a></li>
							</ul><!-- /.filter -->

							<ul class="items col-3 gap">

								<%= render @spots %>

							</ul><!-- /.items -->

						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->


			<!-- ============================================================= SECTION – SHARE ============================================================= -->

			<section id="share" class="light-bg">
				<div class="container">

					<div class="col-sm-4 reset-padding">
						<a href="#" class="btn-share-md">
							<p class="name">Facebook</p>
							<i class="icon-s-facebook"></i>
							<p class="counter">1080</p>
						</a>
					</div><!-- /.col -->

					<div class="col-sm-4 reset-padding">
						<a href="#" class="btn-share-md">
							<p class="name">Twitter</p>
							<i class="icon-s-twitter"></i>
							<p class="counter">1263</p>
						</a>
					</div><!-- /.col -->

					<div class="col-sm-4 reset-padding">
						<a href="#" class="btn-share-md">
							<p class="name">Google +</p>
							<i class="icon-s-gplus"></i>
							<p class="counter">963</p>
						</a>
					</div><!-- /.col -->

				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – SHARE : END ============================================================= -->

		</main>

		<!-- ============================================================= MAIN : END ============================================================= -->
