<main>
	<section>
		<div class="container inner-top-sm inner-bottom-sm">
			<div class="row">
				<div class="col-md-6 col-sm-9 center-block">
					<header>
            <h1>Edit Profile</h1>
					</header>
          <%= render 'form' %>
				</div><!-- /.col -->
			</div><!-- /.row -->
    </div>
  </section>
</main>
