<p>ParkShark was created in between ping pong matches by <a href="mailto:tbrewer1@mail.mvnu.edu?Subject=ParkShark" target="_top">Tyler Brewer</a>, <a href="mailto:tylermachen@gmail.com?Subject=ParkShark" target="_top">Tyler Machen</a>, and <a href="mailto:adam.moelis@gmail.com?Subject=ParkShark" target="_top">Adam Moelis</a> at the Flatiron School.</p>
<%= image_tag("team_photo.jpg", size: "244x326", alt: "Team Photo") %>
<%= image_tag("time_ping_pong.jpg", size: "244x326", alt: "Team Photo") %>
