<main>

  <!-- ============================================================= SECTION – HERO ============================================================= -->

  <section id="hero" class="light-bg img-bg img-bg-softer">
    <div class="container inner">
      <div class="row">
        <div class="col-md-8">
          <header>
            <h1>Get in touch</h1>
            <p>Do you want to know more? We’d love to hear from you!</p>
          </header>
        </div><!-- /.col -->
      </div><!-- ./row -->
    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – HERO : END ============================================================= -->

  <div class="container inner">
    <div class="row">

      <div class="col-md-8 inner-right-md">

        <!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

        <section id="contact-form">

          <h2>Leave a Message</h2>

          <form id="contactform" class="forms" action="contact.php" method="post">

            <div class="row">
              <div class="col-sm-6">
                <input type="text" name="name" class="form-control" placeholder="Name (Required)">
              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
              <div class="col-sm-6">
                <input type="email" name="email" class="form-control" placeholder="Email (Required)">
              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
              <div class="col-sm-6">
                <input type="text" name="subject" class="form-control" placeholder="Subject">
              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
              <div class="col-sm-12">
                <textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
              </div><!-- /.col -->
            </div><!-- /.row -->

            <button type="submit" class="btn btn-default btn-submit">Submit message</button>

          </form>

          <div id="response"></div>

        </section>

        <!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->


        <!-- ============================================================= SECTION – CONTACTS ============================================================= -->

        <section id="contacts" class="inner-top-md inner-bottom-sm">

          <div class="row">
            <div class="col-sm-6">
              <h3>ParkShark</h3>
              <ul class="contacts">
                <li><i class="icon-location contact"></i> New York City</li>
                <li><a href="mailto:teamparkshark@gmail.com"><i class="icon-mail-1 contact"></i> teamparkshark@gmail.com</a></li>
              </ul><!-- /.contacts -->
            </div><!-- /.col -->
          </div><!-- /.row -->

        </section>

        <!-- ============================================================= SECTION – CONTACTS : END ============================================================= -->

      </div><!-- ./col -->

      <div class="col-md-4">

        <!-- ============================================================= SECTION – CONTACT NAMES ============================================================= -->

        <section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">

          <h3 class="team-headline sidelines text-center"><span>Contact names</span></h3>

          <div class="row thumbs gap-md text-center">

            <div class="col-sm-6 thumb">
              <figure class="member">

                <div class="member-image">

                  <div class="text-overlay">
                    <div class="info">
                      <ul class="social">
                        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-s-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                      </ul><!-- /.social -->
                    </div><!-- /.info -->
                  </div><!-- /.text-overlay -->

                  <%= image_tag("adam_moelis.jpg", size: "145x145", alt: "Adam Moelis") %>

                </div><!-- /.member-image -->

                <figcaption class="member-details bordered no-top-border">
                  <h3>
                    Adam Moelis
                    <span>Ping Pong Master</span>
                  </h3>
                </figcaption>

              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6 thumb">
              <figure class="member">

                <div class="member-image">

                  <div class="text-overlay">
                    <div class="info">
                      <ul class="social">
                        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-s-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                      </ul><!-- /.social -->
                    </div><!-- /.info -->
                  </div><!-- /.text-overlay -->

                  <%= image_tag("tyler_brewer.jpg", alt: "Tyler Brewer") %>

                </div><!-- /.member-image -->

                <figcaption class="member-details bordered no-top-border">
                  <h3>
                    Tyler Brewer
                    <span>Marketing Director</span>
                  </h3>
                </figcaption>

              </figure>
            </div><!-- /.col -->

          </div><!-- /.row -->

          <div class="row thumbs gap-md text-center">

            <div class="col-sm-6 thumb">
              <figure class="member">

                <div class="member-image">

                  <div class="text-overlay">
                    <div class="info">
                      <ul class="social">
                        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-s-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                      </ul><!-- /.social -->
                    </div><!-- /.info -->
                  </div><!-- /.text-overlay -->

                  <%= image_tag("tyler_machen.jpg", alt: "Tyler Machen") %>

                </div><!-- /.member-image -->

                <figcaption class="member-details bordered no-top-border">
                  <h3>
                    Tyler Machen
                    <span>Technical Director</span>
                  </h3>
                </figcaption>

              </figure>
            </div><!-- /.col -->


          </div><!-- /.row -->

        </section>

        <!-- ============================================================= SECTION – CONTACT NAMES : END ============================================================= -->

      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.container -->

</main>
