<main>

<!-- ============================================================= MAIN ============================================================= -->

	<section id="who-we-are">
		<div class="container inner-top inner-bottom-sm">

			<div class="row">
				<div class="col-md-8 col-sm-9 center-block text-center">
					<header>
						<h1>Welcome to ParkShark</h1>
						<p>Quickly find an affordable place to park your car.</p>
					</header>
				</div><!-- /.col -->
			</div><!-- /.row -->

			<div class="row inner-top-sm">
				<div class="col-md-1">
					<div class="icon pull-right">
						<i class="icon-lamp icn"></i>
					</div><!-- /.icon -->
				</div><!-- /.col -->

				<div class="col-md-3 inner-bottom-xs">
					<h2>Find Parking</h2>
					<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae.</p>
					<%= render 'layouts/find_me' %>
				</div><!-- /.col -->

				<div class="col-md-1">
					<div class="icon pull-right">
						<i class="icon-star-empty-1 icn"></i>
					</div><!-- /.icon -->
				</div><!-- /.col -->

				<div class="col-md-3 inner-bottom-xs">
					<h2>Get Paid</h2>
					<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae.</p>
					<%= link_to "List a parking spot", new_spot_path, class: "btn btn-large" %><br>
				</div><!-- /.col -->


				<div class="col-md-1">
					<div class="icon pull-right">
						<i class="icon-heart-empty-1 icn"></i>
					</div><!-- /.icon -->
				</div><!-- /.col -->

				<div class="col-md-3 inner-bottom-xs">
					<h2>Find a Spot Near:</h2>
					<p class="text-small">Enter a zip code or city/state below.</p>
					<%= render 'search/search_location' %>

				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- ============================================================= MAIN : END ============================================================= -->

</main>
