<div class="col-md-8 col-xs-12">
  <h1>Welcome</h1>
  <p>What would you like to do?</p>
  <button type="button" class="btn btn-default">Find a parking spot</button>
  <button type="button" class="btn btn-default">Rent a parking spot</button>
</div>
