<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @owner.name %>! <%= @spot.name %> was purchased by <%= @visitor.name %></h1>
    <p>
      To contact your visitor, view their profile here.
    </p>
    <p>Thanks for using ParkShark and have a great day!</p>
    <hr>
    <p>
      Sincerely, <br>
      ParkShark Team
    </p>
  </body>
</html>
