
<main>
    <section>
        <div class="container inner-top-sm inner-bottom-sm">
            <div class="row">
                <div class="col-md-6 col-sm-9">
                    <header>
                    </header>
                    <ul>
                      <h2>Occupied Listings</h2>
                    <% @listings.where(available: ['false', nil]).each do |listing| %>
                      <%= render partial: 'listings/listing', locals: {spot: @spot, listing: listing} %>
                    <% end %>
                    </ul>
                  </div>
                  <div class="col-md-6 col-sm-9">
                    <ul>
                      <h2>Available Listings</h2>
                    <% @listings.where(available: 'true').each do |listing| %>
                      <%= render partial: 'listings/listing', locals: {spot: @spot, listing: listing} %>
                    <% end %>
                    </ul>
                  </div>
                  <div class="col-md-6 col-sm-9">
                    <ul>
                      <h2>My Upcoming Reserved Spots</h2>
                      <% Reservation.all.where(visitor: current_user).each do |reservation|%>
                          <%= render partial: 'listings/listing', locals: {listing: reservation.listing} %>
                      <% end %>
                    </ul>
                  </div>

                <!-- /.col -->
            </div><!-- /.row -->
   </div>
 </section>
</main>
