<ul>
  <h2>Occupied Listings</h2>
<% @listings.where(available: ['false', nil]).each do |listing| %>
  <%= render partial: 'listings/listing', locals: {spot: @spot, listing: listing} %>
<% end %>
</ul>

<ul>
  <h2>Available Listings</h2>
<% @listings.where(available: 'true').each do |listing| %>
  <%= render partial: 'listings/listing', locals: {spot: @spot, listing: listing} %>
<% end %>
</ul>
