/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700|Source+Sans+Pro:400,700,400italic,700italic);

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import "main";
@import "green";
@import "owl.carousel";
@import "owl.transitions";
@import "animate.min";
@import 'chosen';
@import 'ImageSelect.css';

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-warning;
}

.form-control {
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
}
