/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require jquery-ui
 *= require bootstrap-social
 *= require bootstrap-datepicker
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700|Source+Sans+Pro:400,700,400italic,700italic);

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import "main";
@import "green";
@import "owl.carousel";
@import "owl.transitions";
@import "animate.min";
@import 'chosen';

.flash-error, .flash-success, .modal-flash-success {
  font-weight: bold;
  padding: 10px;
}
.flash-error, .flash-success {
  background: #fafafa;
  border-bottom: solid #ebebeb 1px;
}
.flash-error, .modal-flash-error {
  color: #fa6c65;
}
.flash-success, .modal-flash-success {
  color: #1abb9c;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.word-wrap {
  word-wrap: break-word;
}

#error_explanation {
  list-style-type: none;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-warning;
}

.form-control {
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
}

#fb-sign-in {
  background-color: rgb(59,89,152);
}

#goog-sign-in {
  background-color: rgb(221,75,57);
}

#or-message {
  text-align: center;
}

.modal {
  margin: 0 auto;
}

.modal h2 {
  color: #fff;
}

.modal-body {
  padding: 20px;
}

.modal-content {
  background: #fff;
}

.modal-header {
  background: #34495e;
  border-bottom: solid #2a3a4b 1px;
}

.modal-footer {
  background: #fff;
}

.modal-header button span {
  color: #fff;
}

.modal-shadow {
  -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.6);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.6);
}

input[type='submit'] {
  width: auto;
}

.pagination_box {
  width: 500px;
  height: 82px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
}

.bold {
  font-weight: bold;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.gauge-loader {
  margin-top: 10px;
}

#reserve-me {
  display: inline-block;
}

#miles-select-dropdown {
  margin-bottom: 3px;
  background-color: rgba(242, 242, 242, 1)
}

#q {
  margin-bottom: 5px;
}

#find-parking-button {
  margin: 2px;
}

#map-container {
  position: fixed;
  top: 50px;
  right: -24px;
  width: 500px;
  z-index: 1;
}

.spots-header {
  position: relative;
  top: 0px;
  background-color: white;
  z-index: 1;
}

.filter-type {
  // padding-top: 100px;
}

.where-are-you-going {
  padding: 0px;
}

div.pagination_box   {
  width: 900px;
  margin-left: 0px;
}

footer.dark-bg {
  z-index: 99;
  position: relative;
}

#advanced-search {
  padding-left: 0px;
}

.no-left-padding {
  padding-left: 0px;
}

.spot-layout-wrapper {
  padding-top: 0px;
}

.clear {
  clear: both;
}
