.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100%; }
}

.thumb-img {
  width: 100px;
  height: 100px
}

.profile-img {
  width: 250px;
  height: 250px;
}

.item-info-height {
  min-height: 90px;
}

.medium-img {
  width: 300px;
  height: 300px;
}

.rounded {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.rounded-top {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

.rounded-bottom {
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

.card {
  margin-bottom: 20px;
  border: solid #ddd 1px;
  overflow: hidden;
}

.head-card {
  padding: 20px 0 20px 0;
  background: #fafafa;
}

.card-title {
  padding: 10px 20px;
  background: #fafafa;
  border-bottom: solid #ebebeb 1px;
  margin-bottom: 0;
}

.card-body {
  padding: 20px;
}

.toggle {
  margin: 15px 20px 10px 20px;
}

.shadow {
  -moz-box-shadow: 0 2px 0 0 #ccc;
  -webkit-box-shadow: 0 2px 0 0 #ccc;
  box-shadow: 0 2px 0 0 #ccc;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.no-padding {
  padding: 0;
}
