<footer class="dark-bg">
	<div class="footer-bottom">
		<div class="container inner">
			<p class="pull-left">© 2015 ParkShark. All rights reserved. Made with &hearts; in NYC.</p>
			<ul class="footer-menu pull-right">
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Github', 'https://github.com/adammoelis/ParkShark' %></li>
				<li><%= link_to 'About', about_path %></li>
				<li><%= link_to 'Contact', contact_path %></li>
			</ul><!-- .footer-menu -->
		</div><!-- .container -->
	</div><!-- .footer-bottom -->
</footer>
