<div class="modal-body text-center">
  <div class="modal-flash-success"><%= flash[:modal_success] %></div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
</div>
