<div class="modal-body text-center">
  <% if flash[:modal_success] %>
    <div class="modal-flash-success"><%= flash[:modal_success] %></div>
  <% elsif flash[:modal_error] %>
    <div class="modal-flash-error"><%= flash[:modal_error] %></div>
  <% end %>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
</div>
